---
---

@import "{{ site.theme }}";

header ol li {
    border-right: 0px solid #e0e0e0;
    float: none;
    width: auto;
    height: auto;
}

section p {
    text-align: justify;
}

footer p {
    margin: 0;
}